#bg{
    width: 100%;
    height: 100vh;
}

#painelinputLogin{
    padding-top: 50px;
}

/* label color */

.input-field label {
    color: #9e9e9e;
}


/* label focus color */
.input-field input.inputLogin:focus+label {
    color: #42a5f5;
}

/* label underline focus color */
.input-field input.inputLogin:focus {
    border-bottom: 1px solid #42a5f5;
    box-shadow: 0 1px 0 0 #42a5f5;
}

/* valid color */
.input-field input.inputLogin.valid {
    border-bottom: 1px solid #42a5f5;
    box-shadow: 0 1px 0 0 #42a5f5;
}

/* invalid color */
.input-field input.inputLogin.invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}

/* icon prefix focus color */
.input-field .prefix.inputLogin {
    color: #9e9e9e;
}

.input-field .prefix.inputLogin.active {
    color: #42a5f5;
}

.card-image{
    height: 25px !important;
}

.card-image .card-title{
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.collection .collection-item{
    line-height: 2.5rem;
}

.collection .collection-item span:first-child{
    padding-left: 0px;
}

.collection .collection-item span{
    padding-left: 30px;
}